<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <h1> Count Page </h1>
    <script>
       var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/') 
    //    ws.onopen = function(){
    //     console.log('Websocket connection open..')
    //     ws.send('Hi,Message from Client..')
    //    }
    //    ws.onmessage = function(event){
    //     console.log('Message Received from Server....',event)

    //    }
    //    ws.onerror = function(event){
    //     console.log('Websocket Error Occured...',event)
    //    }
    //    ws.onclose = function(event){
    //     console.log('WebSocket Connection Closed...',event)
    //    }

    // EVENT
    ws.addEventListener('open',(event)=>{
        console.log('WebSocket connection open...')
        ws.send('Hi, Message From Client...')
    })
    ws.addEventListener('message',(event)=>{
        console.log('Message Received from Server...',event)

    })
    ws.addEventListener('error',(event)=>{
        console.log('WebSocket Error Occurred...',event)

    })
    ws.addEventListener('close',(event)=>{
        console.log('WebSocket Connection Closed...',event)

    })

    </script>
</body>
</html>